# Shared:
WATER_BASIC_AUTH_USERNAMES=alice,john
WATER_BASIC_AUTH_PASSWORD=replace-this-basic-auth-password
POOL_SIZE=10
DATABASE_URL=postgres://postgres:postgres@localhost:5432/water_dev

# "Prod":
PHX_HOST=your-app-name.gigalixirapp.com
PHX_SERVER=true
# For local TLS verification.
DATABASE_CA_CERT_FILE=/absolute/path/to/supabase-prod-ca.cer
# For runtime (so the cert does not need to live in the repo)
DATABASE_CA_CERT_BASE64=
SECRET_KEY_BASE=replace-with-mix-phx-gen-secret-output
